<div class="company-header">

  <div class="company-left">
    <img src="/assets/logo.png" class="company-logo">
  </div>

  <div class="company-right">

    <div class="company-cn">
      在鲜购商城
    </div>

    <div class="company-en">
      Margarita Market Inc
    </div>

    <div class="company-address">
      199-26 48th ave<br>
      Fresh Meadows NY11365
    </div>

    <div class="company-phone">
      Tel: (929) 707-0098
    </div>

    <div class="company-site">
      www.nyfreshbuy.com
    </div>

  </div>

</div>